	/*.wf
	{
		outline: 1px solid black;
	}	*/

	html
	{
		height: 100%
	}

	
	body
	{
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}
	.heading
	{
		text-align: center;
		margin-top:5%;	
		margin-bottom: 5%;: 	
	}
	.menuitem
	{
		position: relative;

	}
	.image
	{
 	 	display: block;
  		margin-left: auto;
  		margin-right: auto;
  		width: 50%;
	}
	.aboutus
	{
 		text-align:center;
 		padding: 10px;
 	}
 	.row
 	{
 		padding: 10px;
 	}
 	footer
 	{
	   margin-top: auto;
	   background-color: #DCDCDC;
	   color: black;
	   text-align: center;
	}
	.footerlink.link
	{
		color: black;
	}
	
		.sendbtn
		{
			background-color: black;
			color: white;
			border: 2px solid #555555;
			padding: 10px 30px;
			border-radius: 12px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;	
			margin-top: 20px;
			align-content: center;	
			width: 25%;	
		}
		.sendbtn:hover 
		{
		  background-color: grey;
		  color: black;
		}
		.btncenter 
		{
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 20px; 
		}